<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="wideth=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <title>FAQ</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
        <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">
        <link rel="stylesheet" type="text/css"  href="../static/style.css">
    </head>
    <body>
        <!-- <header><marquee>VIDYAPEETH-University Admit Eligibility Predictor</marquee></header> -->
        <header>VIDYAPEETH-University Admit Eligibility Predictor</header>
        <div class="topnav-div">
            <div class="topnav" id="myTopnav">
                <a href="/" class="active" target="_blank">Home</a>
                <a href="/about" class="active" target="_blank">About Us</a>
                <a href="/faqcivil" class="active" target="_blank">Faq</a>

            </div>
        </div>
        <div class="text-info">
            <div class="about-info">
                <p>
                    <b><u>1.can you explain about civil department ?</u></b>
                    <br>
                    "Yeah!! sure dude. Civil department is one of the growing department in design, constructions and maintenance of the physical and naturally built environment, including public works such as roads,bridges, canals, dams, airports, sewage systems, pipelines, structural components of building and railways. Do you need more information just work on the Civil deparment site"<br>

                    <b><u>2.civil department is worth to choose ?</u></b><br>
                           "Yes,its worth to take","ofcourse buddy"<br>
                    <b><u>3.more information need to know about civil department</u></b><br>
                           "just work on our site you will get more exciting information"<br>
                    <b><u>4.job opportunity of civil department ?</u></b><br>
                           "left side of this page can see the Job vacancy and Latest News!! by clicking the links you are redirect and see the information"<br>
                    <b><u>5.iam a slow learner can i choose civil department ?</u></b><br>
                           "Yeah!!, Don't lose your hope just try you can and you will"<br>
                    <b><u>6.iam not eligible for civil department what can i do ?</u></b><br>
                           "Don't lose hope try other departments you will get it"<br>
                    <b><u>7.civil department have future ?</u></b><br>
                           "yeah!! it have more future"<br>
                </p>
            </div>
            
            <div class="pics-div">
                <div class="pic3">
                    <img src="https://thumbs.dreamstime.com/b/businessman-climbing-career-ladder-success-businessman-climbing-career-ladder-success-104912053.jpg" alt="^-^" style="width:300px;height:300px;box-shadow:2px 2px 4px #000000 ;">
                </div>
                <div class="pic2">
                    <img src="https://png.pngtree.com/png-clipart/20200401/original/pngtree-team-success-web-banner-concept-successful-business-team-work-businessman-and-png-image_5335868.jpg" alt="hlo...." style="width:300px;height:300px;box-shadow:2px 2px 4px #000000 ;">
                </div>
            </div>
            
        </div>
        <div class="footer">
            <h3 style="color:antiquewhite">Contact Us:</h3>
            <div class="icon">
                <i class="fab fa-google"><label> vidyapeethinfo@gmail.com</label></i>
            </div>
            <div class="icon">
                <i class="fab fa-linkedin-in"><label> www.linkedin.com/in/vidhyapeeth</label></i>
            </div> 
            <div class="icon">
                <i class="fab fa-twitter"><label> https://twitter.com/Vidhyapeethinfo</label></i>
        </div>
        
    </body>
</html>